#welcome_page.row
  .column
    %h1
      Better Music Quiz

    #video_box
      #video_container
        -# Populated by Javascript.

    .text-center
      %button#hide_btn
        Hide
      %button#reveal_btn
        Reveal

  #footer
    .lower-edge
      #secret
