$max-video-width: rem-calc(384);
$max-video-height: rem-calc(216);

#welcome_page {
  // Hidden video div.
  .lower-edge {
    position: fixed;
    top: 100%;
  }

  // Hidden video inner area.
  #secret {
    position: relative;
  }

  #video_container {
    // By setting `position: absolute` with no top/bottom/left/right attributes,
    // the video will be hidden.
    position: absolute;
    visibility: hidden;
  }

  #video_box {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: $max-video-width;
    height: $max-video-height;

    #video_container {
      // Make the video visible when it is in the video box.
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: visible;
    }
  }
}
