//- Jade/JST Template to embed a Youtube video.

div.embedded-youtube-video-container
  iframe(src="https://www.youtube.com/embed/" + videoId + "?autoplay=1&controls=0", frameborder=0, allowfullscreen=true)
